<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @showroom.name %>
</p>

<p>
  <strong>Make:</strong>
  <%= @showroom.make %>
</p>

<p>
  <strong>Address:</strong>
  <%= @showroom.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @showroom.phone_number %>
</p>

<%= link_to 'Back', showrooms_path %>
